#address,
#about {
    padding-bottom: 10vh;
}

.col-md-9 {
    margin-top: 3%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/assets/cal.png');
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: rgba(204, 204, 204, 0);
}

.col-md-3 {
    margin-top: 3%;
}

.margin-top {
    margin-top: 2vh;
}

#contact {
    margin-top: 0 !important;
}

#crow {
    margin-top: 3%;
}

#image {
    margin-top: 10%;
}


/* .bg-color {
    background-color: #ABF4F4;
} */