<div class="container">



    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Avatar</th>
                <th> Name</th>
                <th>Email</th>
                <th>Contact No</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data">
                <th><img src="{{d.avatar}}" /></th>
                <th>{{d.firstname}}</th>
                <th>{{d.email}}</th>
                <th>{{d.contact1}}</th>
            </tr>
        </tbody>


        <!-- <tr>
            <td><img src="assets/log.png" alt=""></td>
            <td>1</td>
            <td>Maria Anders</td>
            <td>Germany@gmail.com</td>
            <td>9875641230</td>
            <td>9875641230</td>
        </tr>
        <tr>

            <td><img src="assets/log.png" alt=""></td>
            <td>2</td>
            <td>James</td>
            <td>jam@gmail.com</td>
            <td>9866641230</td>
            <td>9875692230</td>

        </tr>
        <tr>

            <td><img src="assets/log.png" alt=""></td>
            <td>3</td>
            <td>euya</td>
            <td>ekal@gmail.com</td>
            <td>8785641230</td>
            <td>7895641230</td>

        </tr>
        <tr>

            <td><img src="assets/log.png" alt=""></td>
            <td>4</td>
            <td>din</td>
            <td>oloaq@gmail.com</td>
            <td>9875641230</td>
            <td>9875641230</td>

        </tr>
        <tr>

            <td><img src="assets/log.png" alt=""></td>
            <td>5</td>
            <td>karthi</td>
            <td>karthi@gmail.com</td>
            <td>7895361230</td>
            <td>7923641230</td>

        </tr>
        <tr>

            <td><img src="assets/log.png" alt=""></td>
            <td>6</td>
            <td>Mani</td>
            <td>mani@gmail.com</td>
            <td>7895636224</td>
            <td>9865478560</td>

        </tr> -->
        <tfoot>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="page-link" href="#">
                            < </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                             > </a>
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
    </table>

</div>