table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px;
}

img {
    border-radius: 30px;
    background: #FCFBFB;
    width: 3vw;
}