<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Avatar</th>
                <th> Name</th>
                <th>Email</th>
                <th>Contact No</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of data">
                <th><img src="{{d.avatar}}" /></th>
                <th>{{d.firstname}}</th>
                <th>{{d.email}}</th>
                <th>{{d.contact1}}</th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <nav class="tfoot-block">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="page-link" href="#">
                                    < </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">
                             > </a>
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </th>
            </tr>
        </tfoot>
    </table>

</div>