<div class="row icon-bar1">
    <div class="text-center col-md-9">Here you are...</div>
    <div class="col-md-1 loguser">
        <div class="limg"> <img src="assets/baby.jpg"></div>
    </div>
    <div class="col-md-2 ulist">
        <ul>
            <li>User</li>
            <li class="dropdown"><i class="fa fa-caret-down dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu loglist" id="loglist">
                    <li><a routerLink="/viewprofile">View Profile</a></li>
                    <li><a routerLink="/editprofile">Edit Info</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>