<div class="row">
    <div class="col-md-1 icon-bar">
        <a href="#" class="dropdown"><i class="fa fa-address-book-o dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu" id="list">
            <li class="clist"><a routerLink="/mycontact">My Contacts</a></li>
        <li class="clist"><a routerLink="/addnew">Add New</a></li>
        </ul>
        </a>
        <a href="#" class="dropdown"><i class="fa fa-book dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu" id="list">
            <li class="clist">My Dairy</li>
      <li class="clist">
          <a routerLink="/">Search</a>
        </li>
        </ul>
        </a>
        <a href="#" class="dropdown"><i class="fa fa-info dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu" id="list">
            <li class="clist">Feed on Info</li>
      <li class="clist"><a routerLink="/">My Feeds</a></li>
        </ul>
        </a>
        <a href="#" class="dropdown"><i class="fa fa-user-secret dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu" id="list">
            <li class="clist"><a routerLink="/viewprofile">View Profile</a></li>
        <li class="clist"><a routerLink="/editprofile">Edit Info</a></li>
        </ul>
        </a>
    </div>
</div>